@import "./global.scss";

.today_statistics {
  width: 100%;
  max-width: 910px;
}

.today_hightlights_title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 10px;
}

.statistics_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 40px;
  //Extra small devices (phones, 600px and down)
  @media only screen and (max-width: 600px) {
    place-items: center;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) {
    place-items: center;
  }
}

.statistic_card {
  min-width: 164px;
  min-height: 102px;
  max-width: 428px;
  max-height: 220px;
  width: 100%;
  height: 100%;
  background: #1e213a;
  color:  $font_color;
  padding: 22px 50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: 600px) {
    grid-column: 1/-1;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) {
    grid-column: 1/-1;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    grid-column: span 1;
  }
}

.title_status {
  font-weight: 500;
  font-size: 1rem;
  line-height: 18.87px;
  text-align: center;
}

.value_styles {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 700;
}

.unit_styles {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
}

.wind_icon {
  margin-top: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wind_dir {
  @extend %center_content;
  background: rgba(255, 255, 255, 0.2);
  width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 50%;
}