@import "./global.scss";

.weatherNowContainer {
  display: flex;
  padding: 42px 0px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #1e213a;
  overflow-x: hidden;
  //Extra small devices (phones, 600px and down)
  @media only screen and (max-width: 600px) {
    grid-column: 1/-1;
    min-height: 110vh;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) {
    grid-column: 1/-1;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    min-height: 70vh;
    height: auto;
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    grid-column: span 1;
    min-height: 100vh;
  }
}

.headerTodayWeather {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    padding: 15px;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) {
    padding: 0px 80px;
  }
  @media only screen and (min-width: 992px) {
    padding: 0px 46px;
  }
}

.image_weather_container {
  @extend %center_content;
  width: 100%;
  background-image: url("/assets/img/bg_clouds.svg");
  background-origin: content-box;
  background-size: cover;
}

.temperature_now {
  display: inline-block;
  font-weight: 500;
  font-size: 9rem;
  color: $font_color;
  letter-spacing: 1px;
}

.temperature_unit {
  display: inline-block;
  font-size: 3rem;
  color: #a09fb1;
}

.temperature_time {
  font-size: 2.25rem;
  line-height: 42.26px;
  color: #a09fb1;
  font-weight: 600;
}

.temperature_today_date {
  color: #88869d;
  font-size: 1.125rem;
  line-height: 21px;
  font-weight: 500;
}

.content_city {
  @extend %center_content;
  gap: 5px;
}

.city {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  color: #a09fb1;
}

.btn {
  border: none;
  border-radius: 3px;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}

.btnSearch {
  width: 161px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 18.78px;
  background: $background-icons;
  color: $font_color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search_location {
  @extend %center_content;
  padding: 0px 46px;
  flex-direction: column;
  width: 100%;
  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.close_styles {
  background: none !important;
  align-self: flex-end;
  position: relative;
  top: -20px;
  right: -20px;
  @media only screen and (max-width: 600px) {
    right: 10px;
  }
}