@import "./global.scss";

.others {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: $background_color;
  padding: 42px 123px 5px 123px;
  @media only screen and (max-width: 600px) {
    grid-column: 1/-1;
    padding: 25px;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) {
    grid-column: 1/-1;
    padding: 30px 90px;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    padding: 42px 60px 15px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    grid-column: span 1;
  }
}

.next_days_weather_container {
  width: 100%;
  max-width: 910px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) {
    grid-template-columns: 1fr 1fr;
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.dkm_btn_container {
  width: 100%;
  max-width: 910px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.active_mode{
  background: $font_color;
  &:hover{
    background: $font_color;
  }
}