.todayWeatherImage {
  min-width: 200px;
  max-width: 250px;
  width: 50%;
  margin: auto auto;
}

.nextDaysWeatherImage {
  width: 45%;
  min-width: 56px;
  max-width: 80px;
  min-height: 62px;
  margin: auto;
}
